nav {
  background-color: rgb(1, 1, 57);
  margin-top: 0px;
  height: 100px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navList {
  padding-top: 30px;
  padding-left: 50px;
}
nav>ul>li{
  /* Center vertically and horizontally */
  position: relative;
  display:inline-block;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid azure;
}
nav>ul>li:first-child{
  border-left: 1px solid azure;
}

nav>ul>li>a{
  color:white;
  text-decoration: none;
  font-size: x-large;
  transition: 1s;
  font-family: 'Roboto Slab', sans-serif;
}

nav>ul>li>a:hover{
  font-size: xx-large;
  transition: 1s;
}